include LICENSE.txt
recursive-include guild/examples *
recursive-include guild/external *
recursive-include guild/scripts *
recursive-include guild/view/dist *
recursive-include guild/templates *
recursive-include guild/tests *
