# guildai - DO NOT DELETE THIS LINE

# NOTE: Changes to this file should be reflected in
# guildai.dist-info/METADATA. You must manually edit
# that file to reflect any changes made here.

chardet>=3.0.4
click>=8
daemonize>=2.4.7
filelock>=3.0.12
importlib-metadata;python_version<"3.8"
jinja2>=3.0.3
natsort
numpy>=1.16
Pillow>=5.0
pip
pkginfo
protobuf<4
psutil>=5.6.3
pydantic
PyYAML>=2.12
scikit-learn>=0.19.1
scikit-optimize>=0.7.1
six>=1.10.0
tabview>=1.4.3
tensorboard>=2.0.0
typing-extensions;python_version<"3.8"
virtualenv>=15.1.0
Werkzeug>=0.15
windows-curses;platform_system=="Windows"
