# guildai - DO NOT DELETE THIS LINE

# NOTE: Changes to this file should be reflected in
# guildai.dist-info/METADATA.

PyYAML>=2.12
Werkzeug>=0.13
Whoosh>=2.7.4
chardet>=3.0.4
cryptography>=2.1.4
daemonize>=2.4.7
pip>=9.0
pyopenssl>=19.0.0
python-dateutil>=2.6.1
setuptools>=40.6.3
scikit-optimize>=0.5.2
six>=1.10.0
tabview>=1.4.3
tensorboardX>=1.6
twine>=1.12.1
virtualenv>=15.1.0
