# guildai - DO NOT DELETE THIS LINE

# NOTE: Changes to this file should be reflected in
# guildai.dist-info/METADATA.

Pillow>=5.0
PyYAML>=2.12
Werkzeug>=0.13
chardet>=3.0.4
daemonize>=2.4.7
docutils>=0.15.2
jinja2>=2.10
numpy>=1.16
pkginfo
scikit-learn>=0.19.1,<0.21.0
scikit-optimize>=0.5.2
setuptools>=40.6.3
six>=1.10.0
tabview>=1.4.3
tensorboard>=1.14
virtualenv>=15.1.0
