# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run tests for CI

on: [push, pull_request]

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

env:
  NON_INTERACTIVE_CI: true
  TERM: xterm-256color
  WORKSPACE: test-env
  UAT_SKIP: remote-*,hiplot-*
  COLUMNS: 999
  EXAMPLES: examples
  GUILD_START_THRESHOLD: 2.0
  DASK_SPEEDUP_THRESHOLD: 1.2

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pre-commit/action@v2.0.3
  build:
    runs-on: ${{ matrix.sys.os }}
    needs: [lint]
    strategy:
      fail-fast: false
      matrix:
        sys:
         # - { os: windows-latest, shell: 'bash' }
         - { os: ubuntu-latest,  shell: bash }
         - { os: macos-latest,   shell: bash }
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"] # 3.11 doesn't have many wheels available yet. Disable for now until it has broader support.
        exclude:
          - sys:
              os: macos-latest
            python-version: 3.7  # there's a strange distutils error about missing distutils.sysconfig. We're punting and ignoring it for now.

    defaults:
      run:
        shell: ${{ matrix.sys.shell }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name:  "add msys64 to PATH to pick up different bash.exe"
        # https://github.com/actions/runner/issues/497
        # https://github.com/actions/toolkit/blob/main/docs/commands.md#environment-files
        if: runner.os == 'Windows'
        run: echo "C:\\msys64\\usr\\bin" >> $GITHUB_PATH
      - name: Setup git user
        run: |
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"
          git config --global init.defaultBranch main
      - name: Install/update pip, wheel and then build, install wheel
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python setup.py bdist_wheel
          python -m pip install --upgrade dist/*.whl
      - name: Run UAT tests
        run: |
          guild init -y --no-progress --name guild-test --guild dist/*.whl ./test-env
          source "$(find test-env -iname activate | awk '{ print length, $0 }' | sort -n -s | cut -d" " -f2- | head -n 1)"
          guild check -v --offline
          guild check --uat
      - name: upload coverage to Codecov
        uses: codecov/codecov-action@v2
