# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package to TestPyPI

on:
  push:
    tags:
      # pre-releases only. Releases will have only numbers.
      - "[0-9]+.[0-9]+.[0-9]+[.a-z]+.*"

env:
  PIP_INDEX_URL: https://test.pypi.org/simple/
  NON_INTERACTIVE_CI: true
  TERM: xterm-256color
  WORKSPACE: test-env
  UAT_SKIP: remote-*,hiplot-*
  COLUMNS: 999
  EXAMPLES: examples
  GUILD_START_THRESHOLD: 2.0
  DASK_SPEEDUP_THRESHOLD: 1.2

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
      - name: Build package
        run: |
          python setup.py bdist_wheel
      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
      - name: Add GitHub Release entry
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/*

  validate:
    runs-on: ${{ matrix.sys.os }}
    needs:
      - deploy
    strategy:
      fail-fast: false
      matrix:
        sys:
         # - { os: windows-latest, shell: 'bash' }
         - { os: ubuntu-latest,  shell: bash }
         - { os: macos-latest,   shell: bash }
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"] # 3.11 doesn't have many wheels available yet. Disable for now until it has broader support.
        exclude:
          - sys:
              os: macos-latest
            python-version: 3.7  # there's a strange distutils error about missing distutils.sysconfig. We're punting and ignoring it for now.
    steps:
      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install from test PyPI
        run: |
          python -m pip install --pre --upgrade guildai
      - name: Run UAT tests
        run: |
          guild init -y --no-progress --name guild-test --pre --guild dist/*.whl ./test-env
          source "$(find test-env -iname activate | awk '{ print length, $0 }' | sort -n -s | cut -d" " -f2- | head -n 1)"
          guild check -v --offline
          guild check --uat
